

@font-face {
  font-family: "KumbhBold";
  src: local("Kumbh_Sans"),
    url("./assets/fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "KumbhRegular";
  src: local("Kumbh_Sans"),
    url("./assets/fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #F2F2F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

input{
  box-sizing: border-box;
}